:root {
  --highlight-color: #2196f3;
  --white-color: #ffffff;
  --dark-background: #191c26;
  --subtitle-color: #212121;
  --description-color: #757575;
}

body {
  font-family: 'Roboto', 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  width: 1200px;
  background: var(--white-color);
  color: var(--subtitle-color);
}
.horizontal-list li,
ul {
  display: inline;
  padding: 0%;
}
.horizontal-list {
  display: inline;
}
.page-button {
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 1.19;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1.67;
  text-align: center;
}

.unstyled-list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding: 0px 15px 0px 15px;
}

/*header*/

.contact-list {
  list-style: none;
  margin-left: auto;
}
.menu-item {
  list-style: none;
  margin-right: 50px;
}
.page-header {
  background-color: var(--white-color);
  padding: 15px 100px;
  display: flex;
  margin-left: 0%;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 1.19;
  color: var(--subtitle-color);
  margin-right: 70px;
}
.logo-highlight {
  color: var(--highlight-color);
}

.main-nav-link {
  color: var(--subtitle-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
}

.contact-nav-link {
  color: var(--subtitle-color);
  margin-right: 40px;
}
.main-nav-link:hover,
.main-nav-link:active,
.main-nav-link:focus {
  color: var(--highlight-color);
}
.contact-nav-link:hover,
.contact-nav-link:active,
.contact-nav-link:focus {
  color: var(--highlight-color);
}

/*Hero section*/

.hero-container {
  margin: 0 auto;
  background-color: var(--dark-background);
  padding-top: 200px;
  padding-bottom: 280px;
}
.hero-section {
  align-items: center;
}
.hero-section-title {
  text-align: center;
}
.hero-subtitle {
  color: var(--subtitle-color);
}
.hero-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: var(--white-color);
  text-align: center;
}
.hero-text {
  color: #9da4bd;
}

.hero-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  letter-spacing: 1.88;
  background-color: var(--highlight-color);
  color: var(--white-color);
  margin: auto;
}

/*About section*/

.about-section {
  display: flex;
  flex-direction: column;
}
.about-section li {
  margin: 0%;
}
.about-list {
  display: flex;
  margin: 0%;
}
.about-list li {
  margin-right: 30px;
}
.about-items {
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.text-boxes {
  display: flex;
  flex-direction: column;
  width: 265px;
}
.text-boxes :first-child {
  margin-left: ;
}

/*Our team section*/
.photo-footer {
  margin: 0%;
}
.our-team-section {
  background: #f5f4fa;
  display: flex;
  flex-direction: column;
}
.our-team-list {
  display: flex;
  flex-direction: row;
}
.our-team-items {
  margin-right: 30px;
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
  background-color: var(--white-color);
}
.our-team-image.no-gap {
  display: block;
}
.our-team-title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1.67;
}
.our-team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.18;
  margin: 0%;
}

.our-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.18;
  color: #757575;
}

/*footer section*/

.page-footer {
  background: #2f303a;
  color: var(--white-color);
  padding: 15px 100px;
}
.adress-link {
  color: var(--white-color);
  font-style: normal;
}
.contacts-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.logo-footer {
  color: var(--white-color);
}

.product-list {
  display: inline-block;
  background: var(--white-color);
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
  margin-right: 20px;
}
.product-button {
  display: flex;
  justify-content: center;
}
.page-button:hover,
.page-button:active,
.page-button:focus {
  background-color: var(--highlight-color);
  color: var(--white-color);
  border: none;
}
